/target/
**/node_modules/
**/dist/
*.quiver-part
*.quiver.json
.idea/
.vscode/
.DS_Store
Thumbs.db
apps/desktop/src-tauri/store/Entitlements.plist
apps/desktop/src-tauri/store/embedded.provisionprofile
